.box {
    width: 100px;
    height: 100px;
    transition: 1s;
    background-color: orange;
}

.box:hover {
    background-color: mediumpurple;
}

.box:active {
    background-color: darkgoldenrod;
    width:200px;
}

.box:focus {
    outline: none;
    background-color: red;
}

.box:active {
    background-color: royalblue;
}